@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$font-stack: "Raleway", sans-serif;
$font-stack1: "Comfortaa", cursive;
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 430px;
$tablet: 770px;
$laptop: 1024px;

* {
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
}

/*HEADER*/
#header {
  height: 8vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
}

#header-img {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 12vw;
  height: auto;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  margin: 40px;
  cursor: pointer;
  color: black;
  font: 120% $font-stack;
}

.nav-link:hover {
  color: white;
  background-color: #cc271c;
}

/*CONT1*/
#home {
  width: 100vw;
  height: 100vh;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 15% 5% 20% 20% 20% 5% 15%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
    width: 40vw;
    margin: 0 auto;
    height: auto;
  }
}

#CTA {
  width: 10vw;
  height: 5vh;
  margin-top: -10%;
  margin-left: 25%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  font: 100% $font-stack;
  background-color: #f5f5dc;
  border: none;
  border-radius: 25px;
  #subscribe {
    color: #0d3c69;
  }
}

.title {
  font: 80px $font-stack;
  line-height: 100px;
  font-weight: bold;
  height: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
}

.slider {
  color: rgb(255, 255, 0);
  margin-left: 20px;
  box-sizing: border-box;
  animation: slider 5s linear infinite;
}

@keyframes slider {
  0% {
    margin-top: -400px;
  }
  10% {
    margin-top: -200px;
  }
  35% {
    margin-top: -200px;
  }
  45% {
    margin-top: 0px;
  }
  60% {
    margin-top: 0px;
  }
  70% {
    margin-top: 200px;
  }
  100% {
    margin-top: 200px;
  }
}

/*CONT2*/

#aboutUs {
  width: 100vw;
  height: 100vh;
  background: wihte;
  display: flex;
  flex-direction: column;
  h1 {
    padding-top: 60px;
    font: 60px $font-stack;
    color: #cc271c;
  }
  h3 {
    font: 40px $font-stack;
    margin: 2% 0% 0% 5%;
  }
  p {
    font: 15px $font-stack1;
    margin: 2% 5% 5% 5%;
  }
}

#aboutusText {
  text-align: center;
}

#card-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: 5% 25% 25% 25% 5%;
  margin-bottom: 10px;
}

#card1,
#card2,
#card3 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#card1:hover,
#card2:hover,
#card3:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#card1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#card2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#card3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#video {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

#card1,
#card2,
#card3 {
  width: 55vw;
  height: 18vh;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgb(212, 183, 183),
    0 6px 20px 0 rgba(255, 255, 255, 0.596);
  -webkit-animation: scale-in-hor-center 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-hor-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @-webkit-keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      opacity: 1;
    }
  }
}

/*CONT3*/

#services {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  h1 {
    padding-top: 60px;
    font: 60px $font-stack;
  }
  h2 {
    font: 45px $font-stack;
  }
  h3 {
    font: 20px $font-stack1;
  }
}

#servicesText {
  display: flex;
  justify-content: center;
}
#service-cards {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 15% 15% 15% 15%;
  grid-template-rows: 5% 25% 25% 25% 5%;
}

#service1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 5% 5% 5% 5%;
}

#service2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 5% 5% 5% 5%;
}

#service3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 5% 5% 5% 5%;
}

#service-images {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 30%;
    height: auto;
    border: none;
    border-radius: 50px;
  }
}

#ser1 {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;

  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
}

#ser2 {
  -webkit-animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @-webkit-keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
      transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
      transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
      transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
      transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
      transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
      transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
}

#ser3 {
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
  @-webkit-keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
      transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
      transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
}

#services-tagline {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  -webkit-animation: tracking-in-contract-bck 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

/*CONT4*/

#ourProducts {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  background: white;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 15% 30% 10% 40%;
  h1 {
    font: 60px $font-stack;
    color: #cc271c;
  }
  h2 {
    font: 55px $font-stack;
  }
  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    width: 100vw;
    height: 50%;
    background: white;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 15% 15% 20% 40%;
    h1 {
      font: 30px $font-stack;
      color: #cc271c;
    }
    h2 {
      font: 12px $font-stack;
    }
  }
}

#prod {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  margin: 0 auto;
}

#text-label {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  margin: 0 auto;
  margin-left: 60px;

  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 20px;
  }
}

#prd1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  margin: 0 auto;
  img {
    width: 300px;
  }
  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    margin: 0 auto;
    margin-left: -10px;
    margin-top: 20px;
    img {
      width: 100px;
    }
  }
}

#prd2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  margin: 0 auto;
  img {
    width: 300px;
  }

  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    margin: 0 auto;
    margin-left: -5px;
    img {
      width: 100px;
    }
  }
}

/*CONT5*/

#contactUs {
  width: 100vw;
  height: 95vh;
  padding-top: 100px;
  background: black;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 30% 30% 30%;
  color: white;
  h1 {
    font: 60px $font-stack;
  }
  h2 {
    font: 30px $font-stack;
  }
  h4 {
    font: 15px $font-stack1;
  }

  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    width: 100vw;
    height: 80vh;
    padding-top: 50px;
    background: black;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 30% 30% 30%;
    color: white;
    h1 {
      font: 30px $font-stack;
    }
    h2 {
      font: 20px $font-stack;
    }
    h4 {
      font: 10px $font-stack1;
    }
  }
}

#contact-us {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 auto;
}

#form {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 120px;
  font: 15px $font-stack1;
  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    padding-left: 20px;
  }
}

#where {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 40px;
  padding-right: 50px;
}

#map {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: 0 auto;
  padding-left: 100px;
  width: 350px;
  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    padding-left: 0;
    width: 140px;
  }
}

#send {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-left: 40px;
  padding-top: 40px;
  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    padding-left: 20px;
    padding-top: 20px;
  }
}

input[type="text"],
input[type="email"] {
  width: 20vw;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: cornsilk;
  font: $font-stack1;
  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    width: 100px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: cornsilk;
    font: $font-stack1;
  }
  input[type="text"],
  input[type="email"]::placeholder {
    display: none;
  }
}

textarea {
  width: 20vw;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: cornsilk;
  color: black;
  resize: none;
  font-size: 15px;
  font: $font-stack1;

  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    width: 100px;
    height: 20px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: cornsilk;
    color: black;
    resize: none;
    font-size: 10px;
    font: $font-stack1;
  }
}

input[type="submit"] {
  width: 20%;
  padding: 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  font: $font-stack;
  color: black;
  text-decoration: none;
  cursor: pointer;

  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    width: 40px;
    padding: 10px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 10px;
    font: $font-stack;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

input[type="submit"]:hover {
  color: whitesmoke;
  background-color: #cc271c;
}

#footer {
  height: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  a {
    text-decoration: none;
    margin: 30px;
  }
  img {
    width: 20px;
  }

  :hover {
    background-color: #cc271c;
  }

  @media only screen and (max-width: $mobileS),
    (max-width: $mobileM),
    (max-width: $mobileL) {
    height: 20px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    a {
      text-decoration: none;
      margin: 15px;
    }
    img {
      width: 12px;
    }
  }
}

@media only screen and (max-width: $mobileS),
  (max-width: $mobileM),
  (max-width: $mobileL) {
  #header {
    height: 20px;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
  }

  #header-img {
    display: none;
  }
  .nav-link {
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    color: black;
    font: 60% $font-stack;
  }
  #home {
    width: 100vw;
    height: 50%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 150px;
      height: auto;
    }
  }

  .title {
    font: 40px $font-stack;
    line-height: 50px;
    font-weight: bold;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    color: white;
  }
  @keyframes slider {
    0% {
      margin-top: -200px;
    }
    10% {
      margin-top: -100px;
    }
    35% {
      margin-top: -100px;
    }
    45% {
      margin-top: 0px;
    }
    60% {
      margin-top: 0px;
    }
    70% {
      margin-top: 100px;
    }
    100% {
      margin-top: 100px;
    }
  }
  #about {
    width: 100vw;
    height: 50%;
    background: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    h1 {
      padding-top: 0px;
      font: 30px $font-stack;
      color: #cc271c;
    }
    h3 {
      font: 10px $font-stack;
      margin: 0 auto;
    }
    p {
      font: 5px $font-stack1;
    }
  }
}
